
# Escopo(s) do token, separados por espaço
SCOPE=empresa conta cnpj cep nfce nfe   

# conta alijunior@gmail.com -> acbr.api.br
CLIENT_ID=
CLIENT_SECRET=
ACBR_API_SCOPE=empresa conta cnpj cep nfce nfe
TOKEN_URL=https://auth.acbr.api.br/realms/ACBrAPI/protocol/openid-connect/token
API_BASE=https://prod.acbr.api.br

